{{#each this}}
<li class="card-library" data-modal-content="{{modalWindowContent}}">
        <img class="img-card-library" src="{{img}}" alt=""/>
        <button type="button" class="closeCard">x</button>
        <div class="movie-information">
            <h2 class="movie-name">{{name}}</h2>
            <div class="generes-rating">
                <p class="genres">{{genre}} | {{date}}</p>
                <div class="rating-container">
                    <span class="rating">{{rating}}</span>
                </div>
            </div>
        </div>
</li>
{{/each}}
