<div class="movie-content">
    <img class="movie-image" src="https://image.tmdb.org/t/p/original{{img}}" alt="{{title}}" />
        <div class="movie-info">
            <h2 class="modal-movie-name">{{title}}</h2>
            <div class="movie-details-lists">
                <ul class="movie-info-titles">
                    <li>Vote / Votes</li>
                    <li>Popularity</li>
                    <li>Original title</li>
                    <li>Genre</li>
                </ul>
                <ul class="movie-info-values">
                    <li class="movie-rating"> <span class="modal-vote">{{vote}}</span> <span class="votes-separator">/</span> <span class="modal-votes">{{votes}}</span>  </li>
                    <li class="movie-popularity">{{popularity}}</li>
                    <li class="movie-original-title-value">{{original}}</li>
                    <li class="movie-genre">{{genres}}</li>
                    <li class="movie-date">{{date}}</li>
                </ul>
            </div>
            <h4 class="movie-about-title">ABOUT</h4>
            <p class="movie-description">{{description}}</p>
            <div class="movie-btn-container">
                <button class="add-to-watched-btn basic-button visually-hidden">ADD TO WATCHED</button>
                <button class="remove-from-watched-btn basic-button visually-hidden">REMOVE FROM WATCHED</button>
                <button class="add-to-queue-btn basic-button visually-hidden">ADD TO QUEUE</button>
                <button class="remove-from-queue-btn basic-button visually-hidden">REMOVE FROM QUEUE</button>
            </div>
        </div>
</div>
    